<% content_for :head do %>
<title>planaday.ch</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<%= stylesheet_link_tag "search.css" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag "venues.js" %>
<script type="text/javascript">
  var markers = new Array();
  var search_timeout;
  
  $(initialize);
  
  function initialize() {
    
    // Default location = lausanne :)
    var latlng = new google.maps.LatLng(46.529816, 6.630592);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      panControl: false,
      zoomControl: true,
      streetViewControl: false,
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    // debug: do it only once, for testing.
    google.maps.event.addListener(map, 'bounds_changed', function() {
      clearTimeout(search_timeout);
      search_timeout = setTimeout(function() {
        all_venues_search(map.getCenter(), map, <%= @collect_data %>);
      }, 300); // value "au bol", let's hope it's interactive enough :)
    });
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      trim_items();
    });
  }
</script>
<% end %>

<div id="timeline">
  <div id="timeline_content">
      <img src="/images/logo.png" style="height: 90px; margin: 5px;" alt="plan a day" />
  </div>
</div>

<div id="location">
<div id="results">
  <div id="result_items">
      <!--
  <div id="search_container">
    <input id="searchbox" type="text" value="Search..." placeholder="Search..."></input>
  </div>
  -->
  <ul></ul>
  </div>
</div>
<div class="map" id="map_container"><div id="map_canvas"></div></div>
</div>
