<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/javascripts/4sq_search.js"></script>
<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(<%= @lat %>, <%= @lng %>);
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      mapTypeControl: false,
      streetViewControl: false,
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    var markers = new Array();
    
    <% @items.take(@count).each do |item| %>
    markers["<%= item["id"] %>"] = new google.maps.Marker({
        position: new google.maps.LatLng(<%= item["location"]["lat"] %>,
          <%= item["location"]["lng"] %>),
        map: map,
        title: "<%= item["name"] %>",
        <% if item["categories"].size > 0 %>
            icon: "<%= item["categories"][0]["icon"] %>",
        <% else %>
            icon: "/images/unknown-place-icon.png",
        <% end %>
    });
    <% end %>
    
    var tourPlanCoordinates = [
      <% @items.take(@count).each do |item| %>
        new google.maps.LatLng(<%= item["location"]["lat"] %>, <%= item["location"]["lng"] %>),
      <% end %>
    ];
    var tour = new google.maps.Polyline({
      path: tourPlanCoordinates,
      strokeColor: "#0033FF",
      strokeOpacity: 0.7,
      strokeWeight: 8
    });
    
    google.maps.event.addListener(map, 'bounds_changed', function() {
      var centerLatLng = map.getCenter();
    });

    tour.setMap(map);
  }
</script>
</head>
<body onload="initialize()">
  <div id="results">
    <!-- <img style="position: absolute; bottom: 0; float: right;" src="/images/logo5.jpg"> -->
    
    <ul>
    <% @items.take(@count).each do |item| %>
        <li>
        <h2>
          <% if item["categories"].size > 0 %>
            <img class="category" src="<%= item["categories"][0]["icon"] %>">
          <% end %>
          <%= item["name"] %>
        </h2>
        <!--
        <p> <%= item["stats"]["checkinsCount"] %> </p>
        -->
        <!--
          <%= item.to_s %>
        -->
        </li>
    <% end %>
    </ul>
  </div>
  <div class="map" id="map_container"><div id="map_canvas"></div></div>
</body>
</html>

